
$black: #231a1d;
$pink: #fdeef4;
$yellow: #e8c547;
$green: #166a63;
$turquoise: #19535f;
$blue: #011638;
$purple: #3f0d12;
$red: #ad343e;

$kelly: #034732;
$hunter: #1f363d;


$scheme-main: $pink;
$primary: $red;
$family-sans-serif: proxima-nova, sans-serif;
$radius: 0px;

h1, h4 {
  font-family: $family-sans-serif;
  text-transform: uppercase;
  font-weight: 700!important;
}

h2, h3 {
  font-family: adelle, serif;
  font-weight: 600!important;
}


@import '~bulma/sass/utilities/_all.sass';

.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper{
  background-color: $white;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

@import '~bulma';